div.login-modal-content {
	button.btn {
		&:first-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.custom-input {
		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	p {
		&.login-error {
			color: $color-red-600;
			margin-top: 0.4rem;
		}
	}
}
