#app {

	section {
		&.hero {
			margin-top: 8.5rem;
			background-image: url('../assets/imgs/S2.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

			width: 100%;
			height: 40vh;
			min-height: 10rem;
		}

		&.content-section {
			margin: 2rem 0;
			padding: 0 2rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.section-title {
				margin: 2rem 0 4rem 0;
			}

			p {
				max-width: 45rem;
				width: 100%;
				line-height: 1.6rem;

				&+p {
					margin-top: 1rem;
				}

			}
		}

		&.about {
			@extend .content-section;
		}

		&.fiances {
			@extend .content-section;

			.pictures-grid {
				margin-bottom: 4rem;
			}
		}

		&.god-parents {
			@extend .content-section
		}

		&.location {
			@extend .content-section;

			img.tropical-picture {
				margin: 2rem 0;
				width: 98%;
				object-fit: cover;
			}
		}
	}
}

@include responsive('lg') {
	#app {
		section {
			&.hero {
				height: 70vh;
			}

			&.location {
				img.tropical-picture {
					max-width: 45rem;
				}
			}
		}
	}
}