#app {

	section {
		&.hero {
			margin-top: 8.5rem;
			background-image: url('/assets/imgs/S2.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

			width: 100%;
			height: 40vh;
			min-height: 10rem;
		}

		&.content-section {
			margin-top: 3rem;
			padding: 0 2rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.section-title {
				margin-bottom: 3rem;
			}

			>p {
				max-width: 45rem;
				width: 100%;
				line-height: 1.6rem;

				&+p {
					margin-top: 1rem;
				}

			}

			&:last-of-type {
				margin-bottom: 4.5rem;
			}
		}

		&.about {
			@extend .content-section;
		}

		&.fiances {
			@extend .content-section;

			.pictures-grid {
				margin-bottom: 3rem;
			}
		}

		&.god-parents {
			@extend .content-section;

			.pictures-grid {
				margin-top: 3rem;
			}
		}

		&.location {
			@extend .content-section;

			img.tropical-picture {
				margin: 3rem 0;
				width: 98%;
				max-width: 45rem;
				min-height: 12rem;
				object-fit: cover;
			}

			.tropical-map {
				border: 0;
				width: 100%;
				max-width: 45rem;
				min-height: 12rem;
			}
		}

		&.gifts {
			@extend .content-section;

			>main {
				width: 100%;
				max-width: 45rem;
			}

			.cart-button {
				display: flex;
				justify-content: flex-end;
				margin-bottom: 1rem;
			}
		}
	}
}

@include responsive('lg') {
	#app {
		section {
			&.hero {
				height: 70vh;
			}

			&.content-section {
				margin-top: 4.5rem;

				.section-title {
					margin-bottom: 4.5rem;
				}

				&:last-of-type {
					margin-bottom: 4.5rem;
				}
			}

			&.fiances {
				@extend .content-section;

				.pictures-grid {
					margin-bottom: 4.5rem;
				}
			}

			&.god-parents {
				.pictures-grid {
					margin-top: 4.5rem;
				}
			}

			&.location {
				@extend .content-section;

				img.tropical-picture {
					margin: 4.5rem 0 3.5rem;
					min-height: 22rem;
				}

				.tropical-map {
					min-height: 25rem;
				}
			}

		}
	}
}