@keyframes load-modal {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

div.modal-container {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.35);
	display: flex;
	justify-content: center;
	align-items: center;

	>.modal {
		background-color: $color-white-100;
		min-height: 30rem;
		width: calc(100% - 2rem);
		max-width: 47rem;
		animation-name: load-modal;
		animation-duration: .5s;
	}

	.modal-header {
		width: 100%;
		background-color: $color-pink-600;
		height: 6rem;
		position: relative;

		display: flex;
		align-items: center;
		padding: 0 2rem;

		>h1 {
			font-weight: 400;
			font-family: 'Notera';
			color: white;
			font-size: 2rem;
		}

		.close-modal-icon {
			position: absolute;
			top: 0.5rem;
			right: 1rem;
			color: white;
			font-size: 1.2rem;
			cursor: pointer;
		}
	}

	.modal-content {
		padding: 1rem 1.5rem;
		max-height: 60vh;
		overflow: auto;
	}

	.modal-footer {
		padding: 1rem 1.5rem;
		display: flex;
		justify-content: flex-end;
	}
}