button.btn {
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid transparent;

	&-default {
		background-color: $color-gray-700;
		color: white;
	}

	&-pink {
		background-color: $color-pink-600;
		color: white;
	}

	&:disabled {
		opacity: 0.6;
	}
}